================================================================================
SCRIPT DE ACTUALIZACIËN DE LOGOS DE PARTIDOS
================================================================================

-- SQL para actualizar logos de partidos
-- Ejecutar en PostgreSQL

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre) = 'PARTIDO LIBERAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre_corto) = 'PARTIDO LIBERAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre) LIKE '%PARTIDO LIBERAL%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre) = 'PARTIDO CONSERVADOR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre_corto) = 'PARTIDO CONSERVADOR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre) LIKE '%PARTIDO CONSERVADOR%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) = 'CENTRO DEMOCR┴TICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre_corto) = 'CENTRO DEMOCR┴TICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) LIKE '%CENTRO DEMOCR┴TICO%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Logo_Pacto_Hist%C3%B3rico.svg/200px-Logo_Pacto_Hist%C3%B3rico.svg.png' WHERE UPPER(nombre) = 'PACTO HISTËRICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Logo_Pacto_Hist%C3%B3rico.svg/200px-Logo_Pacto_Hist%C3%B3rico.svg.png' WHERE UPPER(nombre_corto) = 'PACTO HISTËRICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Logo_Pacto_Hist%C3%B3rico.svg/200px-Logo_Pacto_Hist%C3%B3rico.svg.png' WHERE UPPER(nombre) LIKE '%PACTO HISTËRICO%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre) = 'CAMBIO RADICAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre_corto) = 'CAMBIO RADICAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre) LIKE '%CAMBIO RADICAL%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre) = 'PARTIDO DE LA U';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre_corto) = 'PARTIDO DE LA U';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre) LIKE '%PARTIDO DE LA U%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) = 'ALIANZA VERDE';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre_corto) = 'ALIANZA VERDE';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) LIKE '%ALIANZA VERDE%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre) = 'POLO DEMOCR┴TICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre_corto) = 'POLO DEMOCR┴TICO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre) LIKE '%POLO DEMOCR┴TICO%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MIRA_logo.svg/200px-MIRA_logo.svg.png' WHERE UPPER(nombre) = 'MIRA';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MIRA_logo.svg/200px-MIRA_logo.svg.png' WHERE UPPER(nombre_corto) = 'MIRA';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MIRA_logo.svg/200px-MIRA_logo.svg.png' WHERE UPPER(nombre) LIKE '%MIRA%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Comunes_logo.svg/200px-Comunes_logo.svg.png' WHERE UPPER(nombre) = 'COMUNES';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Comunes_logo.svg/200px-Comunes_logo.svg.png' WHERE UPPER(nombre_corto) = 'COMUNES';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Comunes_logo.svg/200px-Comunes_logo.svg.png' WHERE UPPER(nombre) LIKE '%COMUNES%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre) = 'LIBERAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre_corto) = 'LIBERAL';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Colombian_Liberal_Party_logo.svg/200px-Colombian_Liberal_Party_logo.svg.png' WHERE UPPER(nombre) LIKE '%LIBERAL%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre) = 'CONSERVADOR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre_corto) = 'CONSERVADOR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Colombian_Conservative_Party_logo.svg/200px-Colombian_Conservative_Party_logo.svg.png' WHERE UPPER(nombre) LIKE '%CONSERVADOR%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) = 'CD';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre_corto) = 'CD';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Democratic_Center_%28Colombia%29_logo.svg/200px-Democratic_Center_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) LIKE '%CD%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre) = 'CR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre_corto) = 'CR';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Radical_Change_logo.svg/200px-Radical_Change_logo.svg.png' WHERE UPPER(nombre) LIKE '%CR%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre) = 'LA U';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre_corto) = 'LA U';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Social_Party_of_National_Unity_logo.svg/200px-Social_Party_of_National_Unity_logo.svg.png' WHERE UPPER(nombre) LIKE '%LA U%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) = 'VERDE';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre_corto) = 'VERDE';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Green_Alliance_%28Colombia%29_logo.svg/200px-Green_Alliance_%28Colombia%29_logo.svg.png' WHERE UPPER(nombre) LIKE '%VERDE%' AND logo_url IS NULL;

UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre) = 'POLO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre_corto) = 'POLO';
UPDATE partidos SET logo_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Alternative_Democratic_Pole_logo.svg/200px-Alternative_Democratic_Pole_logo.svg.png' WHERE UPPER(nombre) LIKE '%POLO%' AND logo_url IS NULL;


================================================================================
Copia y ejecuta estos comandos SQL en tu base de datos PostgreSQL
================================================================================
